<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/index.css">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <textarea rows="13" placeholder="input some text" id="input-field"></textarea>
        <button id="send-button">Отправить!</button>
    </div>
    <div class="container">
        <textarea rows="13" placeholder="" id="output-field"></textarea>
        <button id="receive-button">Получить!</button>
    </div>
    <script src="scripts/index.js"></script>
</body>
</html>